:root {
  --primary: red;
  --secondary: orange;
  --focus: aliceblue;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
  }

  @media screen and (max-width: 576px) {
    font-size: 13px;
  }
}

button,
input {
  font-family: 'Roboto', sans-serif;
}

.material-icons {
  max-width: 24px;

  @media screen and (max-width: 576px) {
    font-size: 20px;
    max-width: 20px;
  }
}
