.page-header {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: var(--primary);
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (max-width: 768px) {
    position: relative;
    border-bottom: 1px solid grey;
    background-color: white;
    padding: 0.5em;
  }
}
